[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
jupyter = "*"

[packages]
requests-html = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
main = "python src/__main__.py"
lint = "yapf -ir --exclude '.venv' ./"
"convert:anime" = "bash bin/convert-anime" #<dir_anime_stickers>
"convert:sound" = "bash bin/convert-sound" #<dir_sound_stickers>
"convert:soundanime" = "bash bin/convert-soundanime" #<dir_soundanime_stickers>
